@model IEnumerable<Library_Management_System.Models.Book>

<h2>Books</h2>
<a href="/Books/Create" class="btn btn-primary">Add New Book</a>

<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Genre</th>
            <th>Available Copies</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Isbn</td>
                <td>@book.Genre</td>
                <td>@book.AvailableCopies</td>
                <td>
                    <a href="/Books/Details/@book.BookId" class="btn btn-info">Details</a>
                    <a href="/Books/Edit/@book.BookId" class="btn btn-warning">Edit</a>
                    <a href="/Books/Delete/@book.BookId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

